*{
    margin: 0;
    padding: 0;
}

a,i, .logo{
    color: white;
    text-decoration: none;
    text-transform: uppercase;   
}





/* comienza mi header */
header{
    background-color: #002f6d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

header h2{
    margin-left: 30px;
}
nav a{
    margin-left: 25px;

}

header .header-iconos{
    margin-right: 30px;
}







/* 
px 50/80
em rem=>> margin, padding, font size
porcetajes==> %
*/

.hero{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.hero .hero-titulo{
    color: white;
    /* margin-left: 50px; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: aquamarine;
}
/* seccion  de logos */

.textoparaHero{
    color: white;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.contenedorImagenes{
    display: flex;
    justify-content: center;
    
    margin-top: 50px;
}

.comprometido{
    background-color: chocolate;
}

.galeria-imagenes{
    background-color: cornflowerblue;
}
.responsabilidad{
    background-color: darkslategrey;
}