@import url("https://use.typekit.net/jvo0mnv.css");
*{
    margin: 0;
    padding: 0;
}

a,i, .logo{
    color: white;
    text-decoration: none;
    text-transform: uppercase;  
    
}





/* comienza mi header */
header{
    background-color: #002f6d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
}

header h2{
    margin-left: 30px;
}
nav a{
    margin-left: 25px;

}

header .header-iconos{
    margin-right: 30px;
}







/* 
px 50/80
em rem=>> margin, padding, font size
porcetajes==> %
*/

.hero{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.hero .hero-titulo{
    color: white;
    /* margin-left: 50px; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 60px;
    line-height: normal;
    word-spacing: normal;
}
/* seccion  de logos */

.textoparaHero{
    color: white;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.contenedorImagenes{
    display: flex;
    justify-content: center;
    
    margin-top: 50px;
}
/* comprometido */
.comprometido{
    
    padding: 90px 0;
    color: #002f6d;
    width: 50%;
   margin: 0 auto;
}
.comprometido h2{
    
    margin-bottom: 30px;
}
.comprometido hr{
    width: 5%;
    margin: 0 auto;
    border: 2px solid black;
    margin-bottom: 30px;
}

.galeria-imagenes{
    width: 80%;
    margin: 0 auto;
}

.contenedor-galeria-imagenytexto{
    display: flex;
    justify-content:space-around;
}

.imagen-titulo-texto{
    display: flex;
    align-items: center;
}
.responsabilidad{
    background-color: darkslategrey;
}